[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/webgpu"]
	path = external/webgpu
	url = https://github.com/eliemichel/WebGPU-distribution.git
[submodule "external/glfw3webgpu"]
	path = external/glfw3webgpu
	url = https://github.com/eliemichel/glfw3webgpu.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
